<html lang="fr">
    
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
        
        <style>
            body { background: #b6d2ec; }
        </style>

        <title>
            Projet Data Engineering
        </title>

        <style>
            .button {
            background-color: #1c87c9;
            border: none;
            color: white;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 80px;
            cursor: pointer;
            border-radius: 7px;
            }
            .button:hover{
            background:#FF0000;
            }
        </style>
        
    </head>

    <body>
    
        <div class="container">
            <div class="row">
                <div style="font-family: 'Archivo';">
        
                    <p>    
                        <font size="7">
                            Vous avez choisi le film : {{ title }} !   
                        </font>
              
                        <br>
                        <br>
              
                        <font size="5">
                            Titre original : {{ titleint }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Synopsis : {{ synop }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Sortie le : {{ date }}
                        </front>
              
                        <br>    
              
                        <font size="5">
                            Durée : {{ duree }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Genre : {{ genre }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Casting : {{ cast }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Réalisateur : {{ real }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Nombre de notes Allociné : {{ nbrnote }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Nombre de critiques : {{ nbrcrit }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Note du public : {{ notepub }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Note de la presse : {{ notepre }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Budget : {{ budget }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Box office domicile : {{ boxdom }}
                        </front>

                        <br>
              
                        <font size="5">
                            Box office international : {{ boxint }}
                        </front>
              
                        <br>
              
                        <font size="5">
                            Box office total : {{ boxtot }}
                        </front>

                        <br>
              
                        <font size="5">
                            Rentabilité : {{ rent }}
                        </front>
                    </p>

                    <center>
                        <form>
                            <a href="http://127.0.0.1/" class="button">Retour</a>
                        </form>
                    </center>

                </div>
            </div>
        </div>

    </body>

</html>