<html lang="fr">
    
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
        
        <style>
            body { background: #b6d2ec; }
        </style>

        <title>
            Projet Data Engineering
        </title>
        
    </head>

    <body>
    
        <div class="container">
            <div class="row">
                <div style="font-family: 'Archivo';">
        
                    <p> 
              
                        <center>
                        <font size="7">
                             Recherche
                        </font>
                        </center>

                     </p>
          
                    <form method="POST">

                        <p>
                            <font size="4">
                                Rechercher un film :
                            </font>
                        </p>

                        <input name="C">
                        <input type="submit">
                    </form>

                </div>
            </div>
        </div>

    </body>

</html>